.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questions{
  display: flex;
  flex-direction:column ;
  margin: auto;

}

.questions a {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  background-color: #eee;
  margin: 0.2rem;
  border-radius: 12px;
  transition: ease-in-out 0.3s;
  text-decoration:  none;
  color: black;

}

.questions a:hover {
  transform: scale(1.1);
}

body{
  background-color: rgb(215, 213, 210);
}